<%
local features = require("xiaoqiang.XQFeatures").FEATURES
local ipv6oversea = features["system"]["ipv6oversea"] or '0'
%>
<link href="<%=resource%>/web/css/ipv6.css?v=<%=ver%>" rel="stylesheet">
<div class="mod-set mod-wifi" id="ipv6_set" style="display:none">
    <div class="hd">
        <div class="help">
            <span class="ico"></span>
            <span class="arrow-wrap" id="helpArrow">
                <span class="arrow1"></span>
                <span class="arrow2"></span>
            </span>
        </div>
        <h3>
            <%:IPv6网络设置%>
        </h3>
        <div class="switch">
            <a href="#ipv6switch" id="ipv6switch" class="btn-switch btn-switch-off" data-on="0"></a>
        </div>
        <p style="text-align: right; margin-right: 30px; margin-top: 4px;"><%:IPv6设置介绍%></p>
    </div>
    <div class="bd">
        <div class="section section-help" id="helpSection">
            <div class="help-cont">
                <span class="help-close"></span>
                <div class="what">
                    <h3><%:小米路由器支持IPv6网络，该路由器提供如下设置方式：%></h3>
                </div>
                <div class="qa">
                    <p><%:1. Auto模式：智能配置此路由器IPv6网络为Native或NAT 6方式，推荐选择此配置方式；%></p>
                    <p><%:2. DHCPv6：此模式会根据NAT 6方式采用情况动态配置IPv6上网方式；%></p>
                    <p><%:3. PPPoEv6：此模式将默认复用IPv4拨号链路，也可以手动输入IPv6宽带账号密码手动配置；%></p>
                    <p><%:4. 静态IP模式：通过手动填写IPv6相关信息配置静态IPv6上网方式；%></p>
                    <p><%:5. Passthrough：此模式透传IPv6数据，启用后相应数据将在路由器WAN侧和LAN侧之间点对点传输。%></p>
                </div>
            </div>
        </div>
        <div class="section ipv6-off">
            <p>
                <%:启用此功能后，小米路由器将开启IPv6上网功能（使用前请咨询网络运营商是否支持IPv6）%>
            </p>
        </div>
        <div class="section ipv6-on" style="display:none" id="ipv6_on">
            <div class="mod-set-wan" id="ipv6Set">
                <div class="tab clearfix">
                    <div class="form-item-select wan6set">
                        <label class="k" style="width: auto;">
                            <%:上网方式%>
                        </label>
                        <span class="v">
                            <select name="ipv6select" id="ipv6select" class="beautify">
                                <option value="0"><%:自动配置%></option>
                                <option value="1">DHCPv6</option>
                                <option value="2">PPPoEv6</option>
                                <option value="3"><%:静态IPv6%></option>
                                <option value="4">Passthrough</option>
                                <%if ipv6oversea == "1" then%>
                                <option value="5">Tunnel 6to4</option>
                                <option value="6">Tunnel 6rd</option>
                                <option value="7">Tunnel 6in4</option>
                                <%end%>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="tab-con">
                    <!-- native -->
                    <div class="tab-con-item">
                        <form action="#" name="native" id="native" class="form form-native" autocomplete="off">
                            <input type="hidden" name="ipv6_mode" value="native">
                            <div id="nativeApply" class="hidden" style="margin-bottom: 20px">
                                <img style="height: 25px; vertical-align: middle;" src=<%=resource%>/web/img/ico_check_normal.png />
                                <span style="font-size: 20px; padding-left: 10px; vertical-align: middle;"><%:IPv6自动配置模式应用中%></span>
                            </div>
                            <div class="form-contral clearfix  ipv6-native-btn">
                                <button type="submit" class="btn btn-primary btn-l hidden"><span><%:应用%></span></button> 
                            </div>
                        </form>
                    </div>
                    <!-- DHCPv6 -->
                    <div class="tab-con-item">
                        <form action="#" name="dhcpv6" id="dhcpv6" class="form form-native" autocomplete="off">
                            <input type="hidden" name="ipv6_mode" value="dhcpv6">
                            <div class="item-more">
                                <div class="switch">
                                    <span style="font-size: 16px;">
                                        <%if ipv6oversea == "1" then%>
                                            <%:前缀授权%>
                                        <%else%>
                                            <%:NAT6开关%>
                                        <%end%>
                                    </span>
                                    <a href="#nat6switch" id="nat6switch" class="btn-switch btn-switch-off" data-on="0"></a>
                                </div>
                            </div>
                            <div class="item-more hidden" id="nat6prefix">
                                <p style="font-size: 16px; padding-bottom: 10px;"><%:地址前缀%>:</p>
                                <div  style="display: flex;">
                                    <div class="form-item" id="ipv6prefixDiv">
                                        <span class="v" style="margin-right: 5px;">
                                            <%if ipv6oversea ~= "1" then%>
                                            <span style="margin-right: 3px;">fd00</span><span style="margin-right: 0px;" id="fixedip6prefix">:</span>
                                            <input type="text" class="ipt-text iplimit" name="ip6prefix" id="ip6prefix" datatype="ipv6addrprefixtest1" reqMsg="<%:前缀%>">
                                            <%else%>
                                            <input type="text" class="ipt-text iplimit" name="ip6prefix" id="ip6prefix" datatype="ipv6addrprefixtest2" reqMsg="<%:前缀%>">
                                            <%end%>
                                            <span style="margin-right: 5px;">/</span>
                                            <input type="text" class="ipt-text iplimit" style="width: 20px; padding-right: 20px;" name="ip6prefixlen" id="ip6prefixlen" autocomplete="off" datatype="n" n-pattern="2" minValue="48" maxValue="64" maxlength="2" reqMsg="<%:前缀长度%>">
                                        </span>
                                        <em class="t"></em>
                                    </div>
                                </div>
                            </div>
                            <div class="item-more">
                                <label><input class="setipv6more" type="radio" name="autosetipv6" value="0" checked="checked"><span style="margin-left: 5px;"><%:自动配置DNS%></span></label>
                                <label><input class="setipv6more" type="radio" name="autosetipv6" value="1"><span style="margin-left: 5px;"><%:手动配置DNS%></span></label>
                            </div>
                            <div class="item-more-group clearfix">
                                <div class="form-item">
                                    <label class="k"><%:DNS1%></label>
                                    <span class="v">
                                        <input type="text" name="dns1" class="ipt-text" autocomplete="off" datatype="ipv6addr" reqMsg="<%:DNS1%>">
                                    </span>
                                    <em class="t"><%:必填%></em>
                                </div>
                                <div class="form-item">
                                    <label class="k"><%:DNS2%></label>
                                    <span class="v">
                                        <input type="text" name="dns2" class="ipt-text" autocomplete="off" datatype="ipv6addr">
                                    </span>
                                    <em class="t"><%:选填%></em>
                                </div>
                            </div>

                            <div class="item-more">
                                <p style="font-size: 16px; padding-bottom: 10px;"><%:局域网设备获取IP地址方式%>:</p>
                                <div class="form-item-select lan6set">
                                    <label class="k" style="right: 60px;"><%:模式%></label>
                                    <span class="v">
                                        <select name="lan6select" id="lan6select" class="beautify">
                                            <option value="0"><%:Auto%></option>
                                            <option value="1"><%:DHCPv6%></option>
                                            <option value="2"><%:SLAAC+Stateless DHCPv6%></option>
                                            <option value="3"><%:SLAAC+RDNSS%></option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <!-- <p style="margin-bottom:20px;">适用于没有给路由分配IPv6前缀的上网环境，例如：上级光猫拨号</p> -->
                            <div class="form-contral clearfix  ipv6-native-btn">
                                <button type="submit" class="btn btn-primary btn-l hidden"><span><%:应用%></span></button> 
                            </div>
                        </form>
                    </div>
                    <!-- PPPoEv6 -->
                    <div class="tab-con-item">
                        <form action="#" name="pppoev6" id="pppoev6" class="form form-native" autocomplete="off">
                            <input type="hidden" name="ipv6_mode" value="pppoev6">
                            <div class="item-more">
                                <div class="switch">
                                    <span style="font-size: 16px;">
                                        <%if ipv6oversea == "1" then%>
                                            <%:前缀授权%>
                                        <%else%>
                                            <%:NAT6开关%>
                                        <%end%>
                                    </span>
                                    <a href="#nat6switch" id="nat6switch" class="btn-switch btn-switch-off" data-on="0"></a>
                                </div>
                            </div>
                            <div class="item-more hidden" id="nat6prefix">
                                <p style="font-size: 16px; padding-bottom: 10px;"><%:地址前缀%>:</p>
                                <div  style="display: flex;">
                                    <div class="form-item" id="ipv6prefixDiv">
                                        <span class="v" style="margin-right: 5px;">
                                            <%if ipv6oversea ~= "1" then%>
                                            <span style="margin-right: 3px;">fd00</span><span style="margin-right: 0px;" id="fixedip6prefix">:</span>
                                            <input type="text" class="ipt-text iplimit" name="ip6prefix" id="ip6prefix" datatype="ipv6addrprefixtest1" reqMsg="<%:前缀%>">
                                            <%else%>
                                            <input type="text" class="ipt-text iplimit" name="ip6prefix" id="ip6prefix" datatype="ipv6addrprefixtest2" reqMsg="<%:前缀%>">
                                            <%end%>
                                            <span style="margin-right: 5px;">/</span>
                                            <input type="text" class="ipt-text iplimit" style="width: 20px; padding-right: 20px;" name="ip6prefixlen" id="ip6prefixlen" autocomplete="off" datatype="n" n-pattern="2" minValue="48" maxValue="64" maxlength="2" reqMsg="<%:前缀长度%>">
                                        </span>
                                        <em class="t"></em>
                                    </div>
                                </div>
                            </div>

                            <div class="item-more">
                                <div class="switch">
                                    <span style="font-size: 16px; padding-right: 10px;"><%:复用IPv4拨号链路%></span>
                                    <a href="#ipv4dialswitch" id="ipv4dialswitch" class="btn-switch btn-switch-off" data-on="0"></a>
                                </div>
                            </div>
                            <div class="clearfix hidden" id="ipv6dial">
                                <div class="form-item">
                                    <label class="k"><%:IPv6宽带账号%></label>
                                    <span class="v">
                                        <input type="text" name="ipv6DialAccount" class="ipt-text" autocomplete="off" reqMsg="<%:IPv6宽带账号%>">
                                    </span>
                                </div>
                                <div class="form-item">
                                    <label class="k"><%:IPv6宽带密码%></label>
                                    <span class="v">
                                        <input type="text" name="ipv6DialPassword" class="ipt-text" autocomplete="off" >
                                    </span>
                                </div>
                            </div>

                            <div class="item-more">
                                <label><input class="setipv6more" type="radio" name="autosetipv6" value="0" checked="checked"><span style="margin-left: 5px;"><%:自动配置DNS%></span></label>
                                <label><input class="setipv6more" type="radio" name="autosetipv6" value="1"><span style="margin-left: 5px;"><%:手动配置DNS%></span></label>
                            </div>
                            <div class="item-more-group clearfix">
                                <div class="form-item">
                                    <label class="k"><%:DNS1%></label>
                                    <span class="v">
                                        <input type="text" name="dns1" class="ipt-text" autocomplete="off" datatype="ipv6addr"
                                            reqMsg="<%:DNS1%>">
                                    </span>
                                    <em class="t"><%:必填%></em>
                                </div>
                                <div class="form-item">
                                    <label class="k"><%:DNS2%></label>
                                    <span class="v">
                                        <input type="text" name="dns2" class="ipt-text" autocomplete="off" datatype="ipv6addr">
                                    </span>
                                    <em class="t"><%:选填%></em>
                                </div>
                            </div>
                            <div class="item-more">
                                <p style="font-size: 16px; padding-bottom: 10px;"><%:局域网设备获取IP地址方式%>:</p>
                                <div class="form-item-select lan6set">
                                    <label class="k" style="right: 60px;"><%:模式%></label>
                                    <span class="v">
                                        <select name="lan6select" id="lan6select" class="beautify">
                                            <option value="0"><%:Auto%></option>
                                            <option value="1"><%:DHCPv6%></option>
                                            <option value="2"><%:SLAAC+Stateless DHCPv6%></option>
                                            <option value="3"><%:SLAAC+RDNSS%></option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <!-- <p style="margin-bottom:20px;">适用于没有给路由分配IPv6前缀的上网环境，例如：上级光猫拨号</p> -->
                            <div class="form-contral clearfix  ipv6-native-btn">
                                <button type="submit" class="btn btn-primary btn-l hidden"><span><%:应用%></span></button> 
                            </div>
                        </form>
                    </div>
                    <!-- static ipv6 -->
                    <div class="tab-con-item">
                        <form action="#" name="static-ipv6" id="static-ipv6" class="form form-static" autocomplete="off" autocomplete="off">
                            <input type="hidden" name="ipv6_mode" value="static">
                            <div class="form-item">
                                <label class="k"><%:WAN IPv6地址%></label>
                                <span class="v">
                                    <input type="text" name="ip6addr" class="ipt-text" autocomplete="off" datatype="ipv6addr" reqMsg="<%:IP地址%>">
                                </span>
                                <em class="t"><%:WAN IPv6地址前缀长度默认为128位%></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:WAN IPv6网关%></label>
                                <span class="v">
                                    <input type="text" name="ip6gw" class="ipt-text" autocomplete="off" datatype="ipv6wanaddr" reqMsg="<%:网关%>">
                                </span>
                                <em class="t"></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:LAN IPv6前缀%></label>
                                <span class="v">
                                    <input type="text" name="ip6prefix" class="ipt-text" autocomplete="off" datatype="ipv6addrprefixtest" reqMsg="<%:前缀%>">
                                </span>
                                <em class="t"><%:LAN IPv6前缀需要以::结尾%></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:LAN IPv6前缀长度%></label>
                                <span class="v">
                                    <input type="text" name="ip6prefixlen" class="ipt-text" autocomplete="off" datatype="n" n-pattern="2" minValue="48" maxValue="64" reqMsg="<%:前缀长度%>">
                                </span>
                                <em class="t"></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:DNS1%></label>
                                <span class="v">
                                    <input type="text" name="dns1" class="ipt-text" autocomplete="off" datatype="ipv6addr" reqMsg="<%:DNS1%>">
                                </span>
                                <em class="t"><%:必填%></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:DNS2%></label>
                                <span class="v">
                                    <input type="text" name="dns2" class="ipt-text" autocomplete="off" datatype="ipv6addr">
                                </span>
                                <em class="t"><%:选填%></em>
                            </div>
                            <div class="item-more">
                                <p style="font-size: 16px; padding-bottom: 10px;"><%:局域网设备获取IP地址方式%>:</p>
                                <div class="form-item-select lan6set">
                                    <label class="k" style="right: 60px;"><%:模式%></label>
                                    <span class="v">
                                        <select name="lan6select" id="lan6select" class="beautify">
                                            <option value="0"><%:Auto%></option>
                                            <option value="1"><%:DHCPv6%></option>
                                            <option value="2"><%:SLAAC+Stateless DHCPv6%></option>
                                            <option value="3"><%:SLAAC+RDNSS%></option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="form-contral clearfix  ipv6-static-btn">
                                <button type="submit" class="btn btn-primary btn-l hidden"><span><%:应用%></span></button> 
                            </div>
                        </form>
                    </div>
                    <!-- Passthrough -->
                    <div class="tab-con-item">
                        <form action="#" name="passthrough" id="passthrough" class="form form-native" autocomplete="off">
                            <input type="hidden" name="ipv6_mode" value="passthrough">
                            <div class="form-contral clearfix  ipv6-native-btn">
                                <button type="submit" class="btn btn-primary btn-l hidden"><span><%:应用%></span></button>
                            </div>
                        </form>
                    </div>

                    <%if ipv6oversea == "1" then%>
                    <!-- Tunnel 6to4 -->
                    <div class="tab-con-item">
                        <form action="#" name="6to4" id="6to4" class="form form-native" autocomplete="off">
                            <input type="hidden" name="ipv6_mode" value="6to4">
                            <div class="form-item">
                                <label class="k"><%:IPv4任播地址%></label>
                                <span class="v">
                                    <input type="text" name="peeraddr" class="ipt-text" autocomplete="off" datatype="ipaddr" reqMsg="<%:IPv4任播地址%>">
                                </span>
                                <em class="t"></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:DNS1%></label>
                                <span class="v">
                                    <input type="text" name="dns1" class="ipt-text" autocomplete="off" datatype="ipv6addr" reqMsg="<%:DNS1%>">
                                </span>
                                <em class="t"><%:必填%></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:DNS2%></label>
                                <span class="v">
                                    <input type="text" name="dns2" class="ipt-text" autocomplete="off" datatype="ipv6addr">
                                </span>
                                <em class="t"><%:选填%></em>
                            </div>
                            <div class="form-contral clearfix  ipv6-native-btn">
                                <button type="submit" class="btn btn-primary btn-l hidden"><span><%:应用%></span></button>
                            </div>
                        </form>
                    </div>
                    <!-- Tunnel 6rd -->
                    <div class="tab-con-item">
                        <form action="#" name="6rd" id="6rd" class="form form-native" autocomplete="off">
                            <input type="hidden" name="ipv6_mode" value="6rd">
                            <div class="item-more">
                                <div class="switch">
                                    <span style="font-size: 16px; padding-right: 10px; float: left;"><%:DHCP选项%></span>
                                    <a href="#nat6switch" id="nat6switch" class="btn-switch btn-switch-off" data-on="0"></a>
                                </div>
                            </div>
                            <div class="item-more hidden" id="nat6prefix">
                                <p style="font-size: 16px; padding-bottom: 10px;"><%:地址前缀%>:</p>
                                <div  style="display: flex;">
                                    <div class="form-item" id="ipv6prefixDiv">
                                        <span class="v" style="margin-right: 5px;">
                                            <input type="text" class="ipt-text iplimit" name="ip6prefix" id="ip6prefix" datatype="ipv6addrprefixtest2" reqMsg="<%:前缀%>">
                                            <span style="margin-right: 5px;">/</span>
                                            <input type="text" class="ipt-text iplimit" style="width: 20px; padding-right: 20px;" name="ip6prefixlen" id="ip6prefixlen" autocomplete="off" datatype="n" n-pattern="2" minValue="48" maxValue="64" maxlength="2" reqMsg="<%:前缀长度%>">
                                        </span>
                                        <em class="t"></em>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:DNS1%></label>
                                <span class="v">
                                    <input type="text" name="dns1" class="ipt-text" autocomplete="off" datatype="ipv6addr" reqMsg="<%:DNS1%>">
                                </span>
                                <em class="t"><%:必填%></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:DNS2%></label>
                                <span class="v">
                                    <input type="text" name="dns2" class="ipt-text" autocomplete="off" datatype="ipv6addr">
                                </span>
                                <em class="t"><%:选填%></em>
                            </div>
                            <div class="form-contral clearfix  ipv6-native-btn">
                                <button type="submit" class="btn btn-primary btn-l hidden"><span><%:应用%></span></button>
                            </div>
                        </form>
                    </div>
                    <!-- Tunnel 6in4 -->
                    <div class="tab-con-item">
                        <form action="#" name="6in4" id="6in4" class="form form-native" autocomplete="off">
                            <input type="hidden" name="ipv6_mode" value="6in4">
                            <div class="form-item">
                                <label class="k"><%:服务器IPv4地址%></label>
                                <span class="v">
                                    <input type="text" name="peeraddr" class="ipt-text" autocomplete="off" datatype="ipaddr" reqMsg="<%:服务器IPv4地址%>">
                                </span>
                                <em class="t"></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:用户端IPv6地址%></label>
                                <span class="v">
                                    <input type="text" name="ip6addr" class="ipt-text" autocomplete="off" datatype="ipv6addr" reqMsg="<%:用户端IPv6地址%>">
                                </span>
                                <em class="t"></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:IPv6前缀长度%></label>
                                <span class="v">
                                    <input type="text" name="ip6prefixlen" class="ipt-text" autocomplete="off" datatype="n" n-pattern="2" minValue="48" maxValue="64" reqMsg="<%:IPv6前缀长度%>">
                                </span>
                                <em class="t"></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:DNS1%></label>
                                <span class="v">
                                    <input type="text" name="dns1" class="ipt-text" autocomplete="off" datatype="ipv6addr" reqMsg="<%:DNS1%>">
                                </span>
                                <em class="t"><%:必填%></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:DNS2%></label>
                                <span class="v">
                                    <input type="text" name="dns2" class="ipt-text" autocomplete="off" datatype="ipv6addr">
                                </span>
                                <em class="t"><%:选填%></em>
                            </div>
                            <div class="form-contral clearfix  ipv6-native-btn">
                                <button type="submit" class="btn btn-primary btn-l hidden"><span><%:应用%></span></button> 
                            </div>
                        </form>
                    </div>
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mod-set" id="ipv6_firewall" style="display:none">
    <div class="hd">
        <h3>
            <%:IPv6防火墙%>
        </h3>
        <div class="switch">
            <a href="#fhqswitch" id="fhqswitch" class="btn-switch btn-switch-on" data-on="1"></a>
        </div>
    </div>
    <div class="bd">
        <p><%:开启IPv6防火墙后，将禁止所有外网对局域网设备的主动访问，提高网络安全性%></p>
    </div>
</div>

<script type="tmpl/text" id="tmplStatus_ipv6">
    <div class="wan6status" style="margin-left: 40px;">
        <ul>
            <!-- <li style="padding: 5px; font-size: 150%; text-align: center; "><b><%:IPv6信息%></b></li> -->
            <li><span class="k"><%:连接类型：%></span><span class="v">{$ipv6mode}</span></li>
            <li><span class="k"><%:WAN IPv6地址：%></span><span class="v">
                {if($ip.length > 0 )}
                    {for(var i=0; i<$ip.length;i++)}
                    {$ip[i]} <br/>
                    {/for}
                {/if}
            </span></li>
            <li><span class="k"><%:WAN IPv6网关：%></span><span class="v">{$gateway}</span></li>
            {if($ipv6mode != "Passthrough" )}
            <li><span class="k"><%:LAN IPv6地址：%></span><span class="v">
                {if($in_ip.length > 0 )}
                    {for(var i=0; i<$in_ip.length;i++)}
                    {$in_ip[i]} <br/>
                    {/for}
                {/if}
            </span></li>
            <li><span class="k"><%:LAN IPv6前缀：%></span><span class="v">
                {if($in_prefix.length > 0 )}
                    {for(var i=0; i<$in_prefix.length;i++)}
                    {$in_prefix[i]} <br/>
                    {/for}
                {/if}
            </span></li>
            {/if}
            <li class="nofloat"><span class="k"><%:DNS：%></span><span class="v">
            {if($dns.length > 0 )}
                {for(var i=0; i<$dns.length;i++)}
                {$dns[i]} <br/>
                {/for}
            {/if}
            </span></li>
        </ul>
    </div>
</script>
<script type="tmpl/text" id="tmploff_ipv6">
    <div class="wan6status" style="margin-left: 40px;">
        <ul>
            <li style="padding: 5px; margin-top: 120px; font-size: 150%; text-align: center; "><b><%:未检测到IPv6信息%></b></li>
        </ul>
    </div>
</script>