<%
local features = require("xiaoqiang.XQFeatures").FEATURES
%>
<div class="mod-set lanCheckWrap">
	<div class="hd">
		<%if features["netmode"]["net2.5G"] == "1" then%>
		<div class="help" id="lanOpen">
			<span class="ico"></span>
			<span class="arrow-wrap" id="lanHelpArrow">
				<span class="arrow1"></span>
				<span class="arrow2"></span>
			</span>
		</div>
		<div class="hd-tips-desc"><%:LAN口聚合注意事项%></div>
		<%end%>
		<h3><%:LAN口聚合%></h3>
		<div class="switch">
			<a href="#lagSwitch" id="lagSwitch" class="btn-switch btn-switch-off" data-on="0"></a>
		</div>
	</div>
	<div class="bd">
		<form action="#" class="form" id="lanCheckForm">
            <div class="section lan-section-help" id="lanHelpSection">
                <div class="help-cont">
                    <span class="help-close" id="lanClose"></span>

                    <div class="qa">
                    <p><%:网口协商速率不同时，将无法聚合成功。对端网卡需开启LACP协议。%></p>
                    </div>
                </div>
            </div>
			<p><%:将两个LAN口聚合，实现网口速率叠加%></p>
			<div class="form-item lagItem" style="display: none">
				<div class="lagItemMsg"><%:请选择需要聚合的两个LAN口%></div>
				<div class="selectPort selectLagLan">
				</div>
			</div>
            <div class="form-item">
                <p id="lagStatus" style="color: red;"></p>
            </div>
			<div class="form-contral">
				<button type="submit" class="btn btn-primary lanBtn" id="btnSubmitlanCheck" style="display:none"><span><%:保存%></span></button>
			</div>
		</form>
    </div>
</div>

<script type="text/javascript">
    var lanSelectCount = 2;
	var oldLagInfo = '';
    var lagStatus = {
        '0': '<%:LAN口聚合成功%>',
        '1': '<%:聚合失败，检测到聚合的LAN口未插入网线%>',
        '2': '<%:聚合失败，检测到选定的LAN口实际生效速率不同%>',
        '3': '<%:聚合中，请确保接入聚合口的设备支持聚合功能%>',
        //'4': '<%:聚合未开启，请配置聚合%>'
    };

    //获取数据
    function getData(type){
        function updateLag(status_only) {
            $.ajax({
                url: '<%=luci.dispatcher.build_url("api", "misystem", "get_ps_service")%>',
                dataType: 'json',
                timeout: 5000,
                type: 'GET',
                data: {"service":type},
                success: function( rsp ){
                    if( rsp.code == 0 ) {
                        var lagInfo = rsp['lag'];
                        var lagMessage
                        oldLagInfo = lagInfo;
                        //开关
                        if(lagInfo.enable == 1){
                            if (lagInfo.status) {
                                if (lagInfo.status == 0) {
                                    $('#lagStatus').css('color', 'green');
                                } else {
                                    $('#lagStatus').css('color', 'red');
                                }
                                if (lagStatus[lagInfo.status])
                                {
                                    lagMessage = lagStatus[lagInfo.status];
                                    if (lagInfo.info) {
                                        switch(lagInfo.status) {
                                            case "1":
                                                lagMessage +='(';
                                                var commaNeed = false;
                                                for (var i = 0; i < lagInfo.info.length; i++) {
                                                    if (lagInfo.info[i].link == "down") {
                                                        if (commaNeed) {
                                                            lagMessage += ', ';
                                                        }
                                                        lagMessage += '<%:网口%>' + lagInfo.info[i].port + '<%:未连接%>';
                                                        commaNeed = true;
                                                    }
                                                }
                                                lagMessage += ')';
                                                break;
                                            case "2":
                                                lagMessage +='(';
                                                for (var i = 0; i < lagInfo.info.length; i++) {
                                                    if (i > 0)
                                                    {
                                                        lagMessage += ', ';
                                                    }
                                                    lagMessage += '<%:网口%>' + lagInfo.info[i].port + '<%:速率为%>' + lagInfo.info[i].speed;
                                                }
                                                lagMessage += ')';
                                                break;
                                        }
                                    }
                                    $('#lagStatus').html(lagMessage);
                                }
                            }
                            setTimeout(updateLag, 2000, true);
                            if (status_only) {
                                return;
                            }
                            $('#lagSwitch')
                                .removeClass('btn-switch-off')
                                .addClass('btn-switch-on')
                                .attr('data-on', '1');
                            $('.lagItem').show()
                        }else{
                            $('#lagSwitch')
                                .removeClass('btn-switch-on')
                                .addClass('btn-switch-off')
                                .attr('data-on', '0');
                                $('.lagItem').hide();
                        }
                        
                        var config = {
                            portInfo:lagInfo.ports,
                            el:'.selectLagLan',
                            selectCount:lanSelectCount,
                            service:'<%:聚合口%>',
                            submitBtnEl:'#btnSubmitlanCheck'
                        }
                        $.portMap(config)
                    }
                }
            });
        }
        updateLag(false);
    }

    //lan口聚合提交
    $('#btnSubmitlanCheck').on('click',function(e){
        e.preventDefault();
        var enable =  $('#lagSwitch').attr('data-on');
        var ports = '';
        $(".selectLagLan .listDiv").each(function(index,item){
            if($(item).hasClass("active")){
                ports = ports + ' ' + $(item)[0].dataset.port;
            }
        })
        var requestData = {
            "service":"lag",
            "enable":enable,
            "ports":ports.substring(1),
            "mode":oldLagInfo.mode
        }
        $.dialog({
            id : "confirm",
            width: 390,
            title : "<%:LAN口聚合%>",
            content : "<%:配置生效过程中连接在路由器上的有线设备会短暂断开网络，请确认是否保存修改？%>",
            ok: function(){
                setLag(requestData,"lag");
            },
            cancel: function () {
            }
        }).lock();
        
    })
    //lan口开关
    $('#lagSwitch').on('click',function(e){
        e.preventDefault();
        var on = $(this).attr('data-on') == 1 ? 1 : 0;
        var enable = oldLagInfo.enable
        if(enable == 0){
            if( on == 0){
                if (lanSelectCount > $.idlePortCount) {
                    $.noIdlePortDialog();
                    return;
                }
                $(this).removeClass('btn-switch-off')
                .addClass('btn-switch-on')
                .attr('data-on', '1');
                $('.lagItem').show()
                if($(".selectLagLan .listDiv.active").length == 2){
                    $('#btnSubmitlanCheck').show()
                }
            }else{
                $(this).removeClass('btn-switch-on')
                .addClass('btn-switch-off')
                .attr('data-on', '0');
                $('.lagItem').hide()
                $('#btnSubmitlanCheck').hide()
            }

        }else{
            var enable =  $('#lagSwitch').attr('data-on')==1?0:1;
            var requestData = {
                "service":"lag",
                "enable":enable,
                "ports":"",
                "mode":oldLagInfo.mode
                }
            
                $.dialog({
                    id : "confirm",
                    width: 390,
                    title : "<%:提示信息%>",
                    content : "确认是否关闭LAN口聚合功能",
                    ok: function(){
                        setLag(requestData,"lag");
                    },
                    cancel: function () {
                        
                    }
                }).lock();
            
            
            }
        })
    //设置lag wan
    function setLag(requestData,type){
		$.pub('loading:start');
        $.ajax({
                url: '<%=luci.dispatcher.build_url("api", "misystem", "set_ps_service")%>',
                dataType: 'json',
                timeout: 5000,
                type: 'POST',
                data: requestData,
                success: function( rsp ){
                    if( rsp.code === 0 ) {
                        setTimeout(function() {
                            $.pub('loading:stop');
                            // show success message
                            $.dialog({
                                id : "success",
                                width: 390,
                                title : "<%:提示信息%>",
                                content : "<%:保存成功%>",
                                ok: function(){
                                    window.location.reload();
                                }
                            }).lock();
                        }, rsp.hasOwnProperty("wait") ? rsp.wait * 1000 : 5000);
                    } else {
                        $.pub('loading:stop');
                        // show rsp.msg as error message
                        $.dialog({
                            id : "error",
                            width: 390,
                            title : "<%:提示信息%>",
                            content : rsp.msg,
                            ok: function(){
                                window.location.reload();
                            }
                        }).lock();
                    }
                },
                error: function() {
                  $.pub('loading:stop');
                  $.alert( '<%:网络异常，请检查是否联网%>' );
                }
            });
    }

    //helping
    $("#lanOpen").click(function(){
        $(".lan-section-help").show();
    })
    $("#lanClose").click(function(){
        $(".lan-section-help").hide();
    })

	getData('lag');
</script>
