<%
local XQFunction = require("xiaoqiang.common.XQFunction")
local mesh_bhtype_mode_supported = XQFunction.getFeature("0", "system", "mesh_bhtype_mode")
local mode = XQFunction.getNetMode()
if mesh_bhtype_mode_supported ~= '0' and mode == "whc_re" then
%>
<div class="mod-set" id="meshbhmode">
    <div class="hd">
        <h3><%:Mesh回程模式选择%></h3>
    </div>
    <div class="bd">
        <form name="bhModeForm" id="bhModeForm" action="#" class="form">
            <div class="form-item-select">
                <label class="k" style="width: auto;">
                </label>
                <span class="v">
                    <select name="bhmode" class="beautify" id="bhmodeselect">
                        <option value="auto"><%:自动选择%></option>
                        <option value="wired"><%:有线回程%></option>
                    </select>
                </span>
                <em class="t"></em>
            </div>
            <div class="bhtip" style="margin: 20px 0;color: red;display: none;clear: both">
                <p><%:*该模式下，若该节点有线连接异常，将无法自动切换为无线回程，可能出现暂时性断网%></p>
            </div>

            <div class="form-contral">
                <button type="submit" id="btnBhModeSubmit" class="btn btn-primary btn-l"><span><%:保存%></span></button>
            </div>
        </form>
    </div>
</div>
<%end%>
