<%
--[[
    Info    iptv
]]--
%>

<link href="<%=resource%>/web/css/wifi.css?v=<%=ver%>" rel="stylesheet">
<link href="<%=resource%>/web/css/iptv.css?v=<%=ver%>" rel="stylesheet">

        <div class="mod-set mod-iptv">
                <div class="hd">
                    <h3><%:IPTV%></h3>
                    <div class="switch">
                        <a href="#" id="iptvswitch" class="btn-switch btn-switch-off"></a>
                    </div>
                </div>
                <div class="bd">
                    <form action="#" class="form" id="iptvForm" style="display: none;">
                        <div class="form-item-select">
                            <label class="k"><%:网络服务提供商配置%></label>
                            <span class="v">
                                <select name="profiles" class="beautify" id="profiles">
                                    <option value="0" selected><%:自定义%></option>
                                    <option value="1"><%:桥接模式%></option>
                                    <!-- <option value="2"><%:Malaysia-Maxis%></option>
                                    <option value="3"><%:Malaysia-Unifi%></option>
                                    <option value="4"><%:Portugal-Vodafone%></option>
                                    <option value="5"><%:Singapore-ExStream%></option>
                                    <option value="6"><%:Singapore-Singtel%></option>
                                    <option value="7"><%:Vietnam-Viettel%></option> -->
                                </select>
                            </span>
                        </div>
                        <div class="item-more-group clearfix">
                            <div class="form-item">
                                <label class="k"><%:IPTV VLAN ID%>(1~4094)</label>
                                <span class="v">
                                    <input type="text" name="vid" value="" class="ipt-text" autocomplete="off" datatype="n-4" minvalue="1" maxvalue="4094" reqMsg="<%:IPTV VLAN ID%>" />
                                </span>
                                <em class="t"></em>
                            </div>
                            <div class="form-item">
                                <label class="k"><%:IPTV VLAN优先级%>(0~7)</label>
                                <span class="v">
                                    <input type="text" name="priority" value="" class="ipt-text" autocomplete="off" datatype="n-1" minvalue="0" maxvalue="7" reqMsg="<%:IPTV VLAN优先级%>" />
                                </span>
                                <em class="t"></em>
                            </div>
                        </div>

                        <div class="form-item">
                            <div><%:请选择网口%>：</div>
                            <div class="selectPort iptv_selectLan"></div>
                        </div>
                        <div class="form-contral">
                            <button type="submit" class="btn btn-primary btn-l" id="iptv_btnSubmit" style="display:none"><span><%:保存%></span></button>
                        </div>
                    </form>
                </div>
        </div>

<script>
$(function(){
    var iptvSelectCount = 1

    //init，不在getJson的时候调用是因为#dummyData是动态创建的。要不然绑定不了click（用delegate可以绑定）
    $.selectBeautify();
    //$.formInit();
    //旧数据
    var oldData = {}

    //取数据
    var list = $('#profiles').children()
    var listArr = []
    for(var i = 0; i < list.length; i++){
        var item = {
            index:$(list[i]).val(),
            name:$(list[i]).text()
        }
        listArr.push(item)
    }

    //ISP profile定义
    var  profiles = [
        {
            "index": 0,
            "name": "custom",
            "vid": 0,
            "priority": 0,
            "wan_egress_tag": 1,
            "lan_egress_tag": 0
        },
        {
            "index": 1,
            "name": "Bridge",
            "vid": null,
            "priority": null,
            "wan_egress_tag": 1,
            "lan_egress_tag": 0
        },
        {
            "index": 2,
            "name": "Malaysia-Maxis",
            "vid": 823,
            "priority": 0,
            "wan_egress_tag": 1,
            "lan_egress_tag": 0
        },
        {
            "index": 3,
            "name": "Malaysia-Unifi",
            "vid": 600,
            "priority": 0,
            "wan_egress_tag": 1,
            "lan_egress_tag": 0
        },
        {
            "index": 4,
            "name": "Portugal-Vodafone",
            "vid": 105,
            "priority": 0,
            "wan_egress_tag": 1,
            "lan_egress_tag": 0
        },
        {
            "index": 5,
            "name": "Singapore-ExStream",
            "vid": 20,
            "priority": 4,
            "wan_egress_tag": 1,
            "lan_egress_tag": 0
        },
        {
            "index": 6,
            "name": "Singapore-Singtel",
            "vid": 20,
            "priority": 4,
            "wan_egress_tag": 1,
            "lan_egress_tag": 0
        },
        {
            "index": 7,
            "name": "Vietnam-Viettel",
            "vid": 36,
            "priority": 4,
            "wan_egress_tag": 1,
            "lan_egress_tag": 0
        }
    ]

    //选择服务商
    $( document.body ).delegate( '#profiles', 'change', function( e ){
        var currentIndex = $(this).val()
        var vid = (oldData['iptv'].vid == -1 || oldData['iptv'].vid == 0) ? '' : oldData['iptv'].vid
        var priority = (vid == '' || oldData['iptv'].priority == -1) ? '' : oldData['iptv'].priority
        selectProfile(currentIndex,vid,priority)
    })

    //iptv switch
    $('#iptvswitch').on('click',function(e){
        e.preventDefault();
        var on = $(this).attr('data-on') == 1 ? 1 : 0;
        var enable = oldData['iptv'].enable
        if(enable == 0){
            if( on == 0){
                if (iptvSelectCount > $.idlePortCount) {
                    $.noIdlePortDialog();
                    return;
                }
                $(this).removeClass('btn-switch-off')
                .addClass('btn-switch-on')
                .attr('data-on', '1');
                $('#iptvForm').show()
                if($(".iptv_selectLan .listDiv.active").length == 1){
                    $('#iptv_btnSubmit').show()
                }
            }else{
                $(this).removeClass('btn-switch-on')
                .addClass('btn-switch-off')
                .attr('data-on', '0');
                $('#iptvForm').hide()
            }

        }else{
            var requestData = handlerRequestData($(this))
            
            $.dialog({
                    id : "confirm",
                    width: 390,
                    title : "<%:提示信息%>",
                    content : "<%:确认是否关闭IPTV功能%>",
                    ok: function(){
                        $.pub('loading:start');
                        $.ajax({
                        url: '<%=luci.dispatcher.build_url("api", "misystem", "set_ps_service")%>',
                        dataType: 'json',
                        timeout: 5000,
                        type: 'POST',
                        data: requestData,
                        success: function( rsp ){
                            if( rsp.code === 0 ){
                                setTimeout(function(){
                                    $.pub('loading:stop');
                                    $.dialog({
                                        id : "success",
                                        width: 390,
                                        title : "<%:提示信息%>",
                                        content : "<%:保存成功%>",
                                        ok: function(){
                                            window.location.reload()
                                        }
                                    })
                                }, rsp.hasOwnProperty("wait") ? rsp.wait * 1000 : 5000)
                            } else {
                                $.pub('loading:stop');
                                // show error message
                                $.dialog({
                                    id : "error",
                                    width: 390,
                                    title : "<%:提示信息%>",
                                    content : rsp.msg,
                                    ok: function(){
                                        window.location.reload()
                                    }
                                })
                            }
                        },
                        error: function() {
                            $.pub('loading:stop');
                            $.alert( '<%:网络异常，请检查是否联网%>' );
                        }
                        });
                    },
                    cancel: function () {
                        
                    }
                }).lock();
            
        }
    })

    //获取数据
    $.ajax({
          url: '<%=luci.dispatcher.build_url("api", "misystem", "get_ps_service")%>',
          dataType: 'json',
          timeout: 5000,
          type: 'GET',
          data: {"service":"iptv"},
          success: function( rsp ){
            if( rsp.code == 0 ){
                //存入
                oldData = rsp
                var iptvInfo = rsp['iptv']
                //开关
                if( iptvInfo.enable == 1){
                    $('#iptvswitch')
                        .removeClass('btn-switch-off')
                        .addClass('btn-switch-on')
                        .attr('data-on', '1');
                    $('#iptvForm').show()
                }
                //默认选择的运营商
                var profileIndex = iptvInfo.profile
                var vid = (iptvInfo.vid == -1 || iptvInfo.vid == 0) ? '' : iptvInfo.vid
                var priority = (vid == '' || iptvInfo.priority == -1) ? '' : iptvInfo.priority
                selectProfile(profileIndex,vid,priority)

                var config = {
                    portInfo:iptvInfo.ports,
                    el:'.iptv_selectLan',
                    selectCount:iptvSelectCount,
                    service:'<%:IPTV%>',
                    submitBtnEl:'#iptv_btnSubmit'
                }
                $.portMap(config)
                $.formInit();
            }
        }
    })

    $('#iptvForm').click(function() {
        $('#iptv_btnSubmit').show()
    });

    //提交当前表单
    $('#iptvForm').on('submit',function(e){
        e.preventDefault();

        //输入检验
        var formObj = document.getElementById('iptvForm'),
               validator = Valid.checkAll(formObj);
        if(!validator){
            return;
        }
        if($(".iptv_selectLan .listDiv").hasClass('active') == false){
            $.alert("<%:请选择一个网口作为IPTV口%>")
            return;
        }
        var requestData = handlerRequestData($(this))

        //弹窗
        var dialog = $.dialog({
            id : "confirm",
            width: 390,
            title : "<%:IPTV%>",
            content : '<%:配置生效过程中连接在路由器上的有线设备会短暂断开网络，请确认是否保存修改？%> ',
            ok: function(){
              $.pub('loading:start');
              $.ajax({
                url: '<%=luci.dispatcher.build_url("api", "misystem", "set_ps_service")%>',
                dataType: 'json',
                timeout: 5000,
                type: 'POST',
                data: requestData,
                success: function( rsp ){
                  dialog.close();
                  if( rsp.code === 0 ){
                    setTimeout(function(){
                            $.pub('loading:stop');
                            $.dialog({
                                id : "success",
                                width: 390,
                                title : "<%:提示信息%>",
                                content : "<%:保存成功%>",
                                ok: function(){
                                    window.location.reload()
                                }
                            }).lock();
                        }, rsp.hasOwnProperty("wait") ? rsp.wait * 1000 : 5000)
                  } else {
                    // show error message
                    $.pub('loading:stop');
                    $.dialog({
                        id : "error",
                        width: 390,
                        title : "<%:提示信息%>",
                        content : rsp.msg,
                        ok: function(){
                            window.location.reload()
                        }
                    }).lock();
                  }
                },
                error: function() {
                  dialog.close();
                  $.pub('loading:stop');
                  $.alert( '<%:网络异常，请检查是否联网%>' );
                }
              });
            },
            cancel: function () {
              dialog.close();
            }
          }).lock();
    })
    
    //数据收集
    function handlerRequestData (el) {
        //数据收集
        var enable,
            profile = $('#profiles').val(),
            vid = $('input[name=vid]').val(),
            priority = $('input[name=priority]').val();
        if($(el).attr('id') == 'iptvswitch'){
           enable =  $('#iptvswitch').attr('data-on') == 1 ? 0 : 1
        }else{
           enable =  $('#iptvswitch').attr('data-on') == 1 ? 1 : 0
        }
        var requestData = {
            "service":"iptv",
            "enable": enable,
            "ports":'',
            "profile": profile,
            "vid": vid,
            "priority": priority,
            
        }
        var lanList = $('.iptv_selectLan .listDiv')
        $(lanList).each(function(index,item){
            if($(item).hasClass("active")){
                var port = $(item).attr('data-port')
                requestData.ports = port
                
                //var key = 'LAN' + (index + 1)*1 + '.type'
               
            }
            
        })

        return requestData
    }

    //选择服务商后的动作
    function selectProfile (currentIndex,vid,priority){
        //默认选择的运营商
        var profileList = $('#profiles').children()
        $(profileList).each(function(index,item){
            if($(item).attr('value') == currentIndex){
                var name = $(item).html()
                $(item).attr('selected',true)
                $('#profiles').siblings('.dummy').html(name)
            }
        })

        //如果是桥接模式，默认vid和priority的值为0
        if(currentIndex == 1){
            $('.item-more-group').addClass('hidden')
            $('input[name=vid]').val(0)
            $('input[name=priority]').val(0)
        }else{
            $('.item-more-group').removeClass('hidden')
            if(currentIndex == 0){
                $('input[name=vid]').removeAttr('readonly').val(vid)
                $('input[name=priority]').removeAttr('readonly').val(priority)
            }else{
                var profile = profiles.filter(function(item,index){
                    return currentIndex == item.index
                })[0]
                var vid = profile.vid
                var priority = profile.priority
                $('input[name=vid]').attr('readonly',true).val(vid)
                $('input[name=priority]').attr('readonly',true).val(priority)
            }
        }
    }
})
</script>
