<%
local features = require("xiaoqiang.XQFeatures").FEATURES
local ipv6oversea = features["system"]["ipv6oversea"] or '0'
local ipv6_passthrough_relay = features["system"]["ipv6_passthrough_relay"] or '0'
local XQMultiWanPolicy = require("xiaoqiang.module.XQMultiWanPolicy")
local policy = XQMultiWanPolicy.getPolicy()
%>
<script>
    var gIPv6isOn = true,
        gIPv6 = {
            wan6_cfg : {},
            lan6_cfg : {}
        };
    var isPPPoEMode = false;

    $.sub('ipv6:showHelp', function(evt, data){
        $('#helpArrow').show();
        $('#helpSection').show();
    });
    $.sub('ipv6:hideHelp', function(evt, data){
        $('#helpArrow').hide();
        $('#helpSection').hide();
    });

    $.sub('addEvent', function(evt, data){
        $('.help .ico').on('click', function(){
            $.pub('ipv6:showHelp');
        });
        $('.help-close').on('click', function(){
            $.pub('ipv6:hideHelp');
        });
    });


    $.sub('ipv6select', function (evt, data) {
        var root = $('#ipv6Set'),
            tab = root.find('#ipv6select'),
            tabCon = root.find('.tab-con-item'),
            index = data['index'];
        tab.val(index);
        tabCon.removeClass('active').eq(index).addClass('active');
        $('#lan6select option').attr('selected', false);

        if (index === '0') {


        } else if (index === '1') {
            // DHCPv6 ipv6 form
            fillipv6form_dhcpv6(gIPv6.wan6_cfg, gIPv6.lan6_cfg);
            $.formInit('#dhcpv6');

        } else if (index === '2') {
            // PPPoEv6 ipv6 form
            fillipv6form_pppoev6(gIPv6.wan6_cfg, gIPv6.lan6_cfg);
            $.formInit('#pppoev6');
           // $.selectBeautify({ container: '#pppoev6' });
        } else if (index === '3') {
            // static ipv6 form
            fillipv6form_static(gIPv6.wan6_cfg, gIPv6.lan6_cfg);
            $.formInit('#static-ipv6');
        } else if (index === '4') {
            // passthrough

        } else if (index === '5') {
            // tunnel 6to4
            fillipv6form_tunnel_6to4(gIPv6.wan6_cfg, gIPv6.lan6_cfg);
            $.formInit('#6to4');
        } else if (index === '6') {
            // tunnel 6rd
            fillipv6form_tunnel_6rd(gIPv6.wan6_cfg, gIPv6.lan6_cfg);
            $.formInit('#6rd');
        } else if (index === '7') {
            // tunnel 6in4
            fillipv6form_tunnel_6in4(gIPv6.wan6_cfg, gIPv6.lan6_cfg);
            $.formInit('#6in4');
        }
    });

    function setto_ipv6_native_auto() {
        $('#ipv6select').val(0);
        $.pub('ipv6select', [{ index: '0' }]);
        setTimeout(function () {
            $('.wan6set .dummy').html('<%:自动配置%>');
        }, 200);
        $('div[id=nativeApply]').addClass('hidden');
    }

    function fillipv6_wanstatus(ipv6status) {
        //toplist
        var statusHTML;
        var ipv6_mode = '';
        if ('native' == ipv6status['ipv6_mode']) {
            ipv6_mode = 'Native';
            if (true == ipv6status['up'] && ipv6status['lan_ip6prefix']) {
                for (i = 0; i < ipv6status['lan_ip6prefix'].length; i++) {
                    if ('fd00:' == ipv6status['lan_ip6prefix'][i].substring(0, 5)) {
                        ipv6_mode = 'NAT6';
                        break;
                    }
                }
            }
        } else if ('dhcpv6' == ipv6status['ipv6_mode']) {
            ipv6_mode = 'DHCPv6';
        } else if ('pppoev6' == ipv6status['ipv6_mode']) {
            ipv6_mode = 'PPPoEv6';
        } else if ('static' == ipv6status['ipv6_mode']) {
            ipv6_mode = '<%:静态IPv6%>';
        } else if ('passthrough' == ipv6status['ipv6_mode']) {
            ipv6_mode = 'Passthrough';
        } else if ('pi_relay' == ipv6status['ipv6_mode']) {
            if ('<%=ipv6_passthrough_relay%>' == '1') {
                ipv6_mode = 'Passthrough';
            } else {
                ipv6_mode = 'pi_relay';
            }
        } else if ('6to4' == ipv6status['ipv6_mode']) {
            ipv6_mode = 'Tunnel 6to4';
        } else if ('6rd' == ipv6status['ipv6_mode']) {
            ipv6_mode = 'Tunnel 6rd';
        } else if ('6in4' == ipv6status['ipv6_mode']) {
            ipv6_mode = 'Tunnel 6in4';
        }
        if (true == ipv6status['up']) {
            statusHTML = StringH.tmpl($('#tmplStatus_ipv6').html(), {
                ipv6mode: ipv6_mode,
                ip: ipv6status['ip6addr'] ? ipv6status['ip6addr'] : [],
                gateway: ipv6status['ip6gw'] ? ipv6status['ip6gw'] : '',
                in_ip: ipv6status['lan_ip6addr'] ? ipv6status['lan_ip6addr'] : [],
                in_prefix: ipv6status['lan_ip6prefix'] ? ipv6status['lan_ip6prefix'] : [],
                dns: ipv6status['dns'] ? ipv6status['dns'] : []
            });
        } else {
            statusHTML = StringH.tmpl($('#tmploff_ipv6').html());
        }
        $('#wanStatus_ipv6').html(statusHTML);
    }

    $.sub('getipv6status', function(e) {
        $.ajax({
            url: '<%=luci.dispatcher.build_url("api", "xqnetwork","get_wan6_info_v2")%>',
            type: "GET",
            dataType: "json",
            success: function (rsp) {
                if (rsp.code === 0) {
                    fillipv6_wanstatus(rsp.wan6_info);
                } else {

                }
            }
        });
    });

    $.sub('getipv6config', function(e) {
        var requestURL = '<%=luci.dispatcher.build_url("api", "xqnetwork","get_wan6_v2")%>',
            requestData = {},
            ret = 0;
        $.getJSON(requestURL, requestData, function (rsp) {
            if (rsp.code === 0) {
                gIPv6.wan6_cfg = rsp.wan6_cfg;

                $.ajax({
                    url: '<%=luci.dispatcher.build_url("api", "xqnetwork","get_lan6_v2")%>',
                    type: "GET",
                    dataType: "json",
                    success: function (rsp) {
                        if (rsp.code === 0) {
                            gIPv6.lan6_cfg = rsp.lan6_cfg;
                            $.pub('fillipv6form', [gIPv6]);
                        } else {

                        }
                    }
                });
            } else {

            }
        });
    });

    function fillipv6form_static(wan6_cfg, lan6_cfg) {
        if (wan6_cfg.ipv6_mode != 'static') {
            $("#static-ipv6")[0].reset();
            $('#lan6select').find('option[value="0"]').attr('selected', true);
            $('.lan6set .dummy').html($('#lan6select').find('option:selected').text());
            return;
        }

        // static ipv6 form
        wan6_cfg.dns = wan6_cfg.dns ? wan6_cfg.dns : [null, null];
        $('#static-ipv6 input[name="ip6addr"]').val(wan6_cfg.ip6addr);
        $('#static-ipv6 input[name="ip6gw"]').val(wan6_cfg.ip6gw);
        $('#static-ipv6 input[name="ip6prefix"]').val(wan6_cfg.ip6prefix);
        $('#static-ipv6 input[name="ip6prefixlen"]').val(wan6_cfg.ip6prefixlen);
        $('#static-ipv6 input[name="dns1"]').val(wan6_cfg.dns[0]);
        $('#static-ipv6 input[name="dns2"]').val(wan6_cfg.dns[1]);
        // lan mode
        $('#lan6select').find('option[value="' + lan6_cfg.mode + '"]').attr('selected', true);
        $('.lan6set .dummy').html($('#lan6select').find('option:selected').text());
        $.formInit();
    }

    $('body').on('input', '#dhcpv6 #ip6prefix', function() {
        var ip6prefix = $('#dhcpv6 #ip6prefix').val();
        if ("::" === ip6prefix) {
            $('#dhcpv6 #fixedip6prefix').addClass('hidden');
        } else {
            $('#dhcpv6 #fixedip6prefix').removeClass('hidden');
        }
    });
    $('body').on('input', '#pppoev6 #ip6prefix', function() {
        var ip6prefix = $('#pppoev6 #ip6prefix').val();
        if ("::" === ip6prefix) {
            $('#pppoev6 #fixedip6prefix').addClass('hidden');
        } else {
            $('#pppoev6 #fixedip6prefix').removeClass('hidden');
        }
    });

    function fillipv6form_dhcpv6(wan6_cfg, lan6_cfg) {
        if (wan6_cfg.ipv6_mode != 'dhcpv6') {
            $("#dhcpv6")[0].reset();
            if ('<%=ipv6oversea%>' == "1") {
                $('#dhcpv6 #nat6switch').removeClass('btn-switch-off')
                    .addClass('btn-switch-on')
                    .attr('data-on', '1');  
            } else {
                $('#dhcpv6 #nat6switch').removeClass('btn-switch-on')
                    .addClass('btn-switch-off')
                    .attr('data-on', '0');
            }
            $('#dhcpv6 #nat6prefix').addClass('hidden');
            $("#dhcpv6 .setipv6more[value=0]").prop("checked", true);
            $('#dhcpv6 .item-more-group').find('input').prop('disabled', true);

            $('#lan6select').find('option[value="0"]').attr('selected', true);
            $('.lan6set .dummy').html($('#lan6select').find('option:selected').text());

            return;
        }

        var isauto = wan6_cfg.peerdns;
        if (isauto == 0) { //munaul
            $("#dhcpv6 .setipv6more[value=1]").prop("checked", true);
            $('#dhcpv6 .item-more-group').find('input').prop('disabled', false);
            $('#dhcpv6 input[name="dns1"]').val(wan6_cfg.dns[0]);
            $('#dhcpv6 input[name="dns2"]').val(wan6_cfg.dns[1]);
            $.formInit();
        }else{
            $('#dhcpv6 .item-more-group').find('input').prop('disabled', true);
        }
        //NAT6
        if (1 == wan6_cfg.nat6_enabled) {
            $('#dhcpv6 #nat6switch').removeClass('btn-switch-off')
                    .addClass('btn-switch-on')
                    .attr('data-on', '1');

            if ('<%=ipv6oversea%>' == "1") {
                $('#dhcpv6 #nat6prefix').addClass('hidden');
            } else {
                $('#dhcpv6 #nat6prefix').removeClass('hidden');
                var ip6prefix = wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : '6868:6868::';
                if (ip6prefix === "fd00::") {
                    $('#dhcpv6 #fixedip6prefix').addClass('hidden');
                    ip6prefix = "::";
                } else {
                    $('#dhcpv6 #fixedip6prefix').removeClass('hidden');
                    ip6prefix = ip6prefix.substr(0, 5) === "fd00:" ? ip6prefix.substr(5) : ip6prefix;
                }
                var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : 64;
                $('#dhcpv6 input[name=ip6prefix]').val(ip6prefix);
                $('#dhcpv6 input[name=ip6prefixlen]').val(ip6prefixlen);
            }
        } else {
            $('#dhcpv6 #nat6switch').removeClass('btn-switch-on')
                    .addClass('btn-switch-off')
                    .attr('data-on', '0');

            if ('<%=ipv6oversea%>' == "1") {
                $('#dhcpv6 #nat6prefix').removeClass('hidden');
                var ip6prefix = wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : 'fd00:6868:6868::';
                var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : 64;
                $('#dhcpv6 input[name=ip6prefix]').val(ip6prefix);
                $('#dhcpv6 input[name=ip6prefixlen]').val(ip6prefixlen);
            } else {
                $('#dhcpv6 #nat6prefix').addClass('hidden');
            }
        }
        //lan mode
        $('#dhcpv6 #lan6select').find('option[value="' + lan6_cfg.mode + '"]').attr('selected', true);
        $('.lan6set .dummy').html($('#dhcpv6 #lan6select').find('option:selected').text());
    }

    function fillipv6form_pppoev6(wan6_cfg, lan6_cfg) {
        if (wan6_cfg.ipv6_mode != 'pppoev6') {
            // default
            $("#pppoev6")[0].reset();
            if ('<%=ipv6oversea%>' == "1") {
                $('#pppoev6 #nat6switch').removeClass('btn-switch-off')
                    .addClass('btn-switch-on')
                    .attr('data-on', '1');  
            } else {
                $('#pppoev6 #nat6switch').removeClass('btn-switch-on')
                    .addClass('btn-switch-off')
                    .attr('data-on', '0');
            }
            $('#pppoev6 #nat6prefix').addClass('hidden');

            $('#pppoev6 #ipv4dialswitch').removeClass('btn-switch-off')
                .addClass('btn-switch-on')
                .attr('data-on', '1');
            $('#pppoev6 #ipv6dial').addClass('hidden');

            $("#pppoev6 .setipv6more[value=0]").prop("checked", true);
            $('#pppoev6 .item-more-group').find('input').prop('disabled', true);

            $('#lan6select').find('option[value="0"]').attr('selected', true);
            $('.lan6set .dummy').html($('#lan6select').find('option:selected').text());

            return;
        }

        var isauto = wan6_cfg.peerdns;
        if (isauto == 0) { //munaul
            $("#pppoev6 .setipv6more[value=1]").prop("checked", true);
            $('#pppoev6 .item-more-group').find('input').prop('disabled', false);
            $('#pppoev6 input[name="dns1"]').val(wan6_cfg.dns[0]);
            $('#pppoev6 input[name="dns2"]').val(wan6_cfg.dns[1]);
            $.formInit();
        }else{
            $('#pppoev6 .item-more-group').find('input').prop('disabled', true);
        }
        //NAT6
        if (1 == wan6_cfg.nat6_enabled) {
            $('#pppoev6 #nat6switch').removeClass('btn-switch-off')
                    .addClass('btn-switch-on')
                    .attr('data-on', '1');

            if ('<%=ipv6oversea%>' == "1") {
                $('#pppoev6 #nat6prefix').addClass('hidden');  
            } else {
                $('#pppoev6 #nat6prefix').removeClass('hidden'); 
                var ip6prefix = wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : '6868:6868::';
                if (ip6prefix === "fd00::") {
                    $('#pppoev6 #fixedip6prefix').addClass('hidden');
                    ip6prefix = "::";
                } else {
                    $('#pppoev6 #fixedip6prefix').removeClass('hidden');
                    ip6prefix = ip6prefix.substr(0, 5) === "fd00:" ? ip6prefix.substr(5) : ip6prefix;
                }
                var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : 64;
                $('#pppoev6 input[name=ip6prefix]').val(ip6prefix);
                $('#pppoev6 input[name=ip6prefixlen]').val(ip6prefixlen);
            }
        } else {
            $('#pppoev6 #nat6switch').removeClass('btn-switch-on')
                    .addClass('btn-switch-off')
                    .attr('data-on', '0');

            if ('<%=ipv6oversea%>' == "1") {
                $('#pppoev6 #nat6prefix').removeClass('hidden'); 
                var ip6prefix = wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : 'fd00:6868:6868::';
                var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : 64;
                $('#pppoev6 input[name=ip6prefix]').val(ip6prefix);
                $('#pppoev6 input[name=ip6prefixlen]').val(ip6prefixlen);
            } else {
                $('#pppoev6 #nat6prefix').addClass('hidden');
            } 
        }
        //PPPoE
        if (1 == wan6_cfg.use_pppoev4) {
            $('#pppoev6 #ipv4dialswitch').removeClass('btn-switch-off')
                .addClass('btn-switch-on')
                .attr('data-on', '1');
            $('#pppoev6 #ipv6dial').addClass('hidden');
        } else {
            $('#pppoev6 #ipv4dialswitch').removeClass('btn-switch-on')
                .addClass('btn-switch-off')
                .attr('data-on', '0');
            $('#pppoev6 #ipv6dial').removeClass('hidden');
            $('#pppoev6 input[name=ipv6DialAccount]').val(wan6_cfg.username);
            $('#pppoev6 input[name=ipv6DialPassword]').val(wan6_cfg.password);
        }
        //lan mode
        $('#pppoev6 #lan6select').find('option[value="' + lan6_cfg.mode + '"]').attr('selected', true);
        $('.lan6set .dummy').html($('#pppoev6 #lan6select').find('option:selected').text());
       
    }

    function fillipv6form_tunnel_6to4(wan6_cfg, lan6_cfg) {
        if (wan6_cfg.ipv6_mode != '6to4') {
            $("#6to4")[0].reset();
            $('#6to4 input[name="peeraddr"]').val('192.88.99.1');
            return;
        }

        var peeraddr = wan6_cfg.peeraddr ? wan6_cfg.peeraddr : '192.88.99.1';
        $('#6to4 input[name="peeraddr"]').val(peeraddr);
        $('#6to4 input[name="dns1"]').val(wan6_cfg.dns[0] ? wan6_cfg.dns[0] : '');
        $('#6to4 input[name="dns2"]').val(wan6_cfg.dns[1] ? wan6_cfg.dns[1] : '');
    }
    
    function fillipv6form_tunnel_6rd(wan6_cfg, lan6_cfg) {
        if (wan6_cfg.ipv6_mode != '6rd') {
            $("#6rd")[0].reset();
            return;
        }

        if (1 == wan6_cfg.use_dhcp) {
            $('#6rd #nat6switch').removeClass('btn-switch-off')
                    .addClass('btn-switch-on')
                    .attr('data-on', '1');
        } else {
            $('#6rd #nat6prefix').removeClass('hidden');
            $('#6rd input[name=ip6prefix]').val(wan6_cfg.ip6prefix);
            $('#6rd input[name=ip6prefixlen]').val(wan6_cfg.ip6prefixlen);
        }
        $('#6rd input[name="dns1"]').val(wan6_cfg.dns[0] ? wan6_cfg.dns[0] : '');
        $('#6rd input[name="dns2"]').val(wan6_cfg.dns[1] ? wan6_cfg.dns[1] : '');
    }

    function fillipv6form_tunnel_6in4(wan6_cfg, lan6_cfg) {
        if (wan6_cfg.ipv6_mode != '6in4') {
            $("#6in4")[0].reset();
            return;
        }

        $('#6in4 input[name="peeraddr"]').val(wan6_cfg.peeraddr);
        $('#6in4 input[name="ip6addr"]').val(wan6_cfg.ip6addr);
        $('#6in4 input[name="assign"]').val(wan6_cfg.ip6prefixlen);
        $('#6in4 input[name="dns1"]').val(wan6_cfg.dns[0] ? wan6_cfg.dns[0] : '');
        $('#6in4 input[name="dns2"]').val(wan6_cfg.dns[1] ? wan6_cfg.dns[1] : '');
    }

    // ipv6 form and top_info
    $.sub('fillipv6form', function ( evt, data ) {
        var rsp = data;
        var wan6_cfg = rsp.wan6_cfg,
            lan6_cfg = rsp.lan6_cfg;

        //set form to native auto
        setto_ipv6_native_auto();

        if (wan6_cfg.ipv6_mode !== "off") {
            gIPv6isOn = true;
            $('input[name=mtu]').attr('minValue', 1280);
            $('#ipv6switch').removeClass('btn-switch-off')
                .addClass('btn-switch-on')
                .attr('data-on', '1');
            $('.ipv6-off').hide();
            $('.ipv6-on').show();

            $('#lan6select option').attr('selected', false);
            $('#ipv6select option').attr('selected', false);

            // PPPoE隐藏 passthrough 模式
            //if (isPPPoEMode) {
            //    $("#ipv6select option:contains('Passthrough')").remove();
            //}
            //else
            if ($("#ipv6select option:contains('Passthrough')").length == 0){
                $("#ipv6select").append('<option value="4">Passthrough</option>');
            }
            $.selectBeautify({ container: '#ipv6Set' });

            if (wan6_cfg.ipv6_mode === "native") {
                // native ipv6 form
                $('#ipv6select').val(0);
                $.pub('ipv6select', [{ index: '0' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('<%:自动配置%>');
                }, 200);
                $('div[id=nativeApply]').removeClass('hidden');

            } else if (wan6_cfg.ipv6_mode === "dhcpv6") {
                // DHCPv6 ipv6 form
                $('#ipv6select').val(1);
                $.pub('ipv6select', [{ index: '1' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('DHCPv6');
                }, 200);

                //fillipv6form_dhcpv6(wan6_cfg, lan6_cfg);

            } else if (wan6_cfg.ipv6_mode === "pppoev6") {
                // PPPoEv6 ipv6 form
                $('#ipv6select').val(2);
                $.pub('ipv6select', [{ index: '2' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('PPPoEv6');
                }, 200);

                //fillipv6form_pppoev6(wan6_cfg, lan6_cfg);

            } else if (wan6_cfg.ipv6_mode === "static") {
                $('#ipv6select').val(3);
                $.pub('ipv6select', [{ index: '3' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('<%:静态IPv6%>');
                }, 200);

                //fillipv6form_static(wan6_cfg, lan6_cfg);

            } else if (wan6_cfg.ipv6_mode === "passthrough" && !isPPPoEMode) {
                // passthrough ipv6 form
                $('#ipv6select').val(4);
                $.pub('ipv6select', [{ index: '4' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('Passthrough');
                }, 200);

            } else if ('<%=ipv6oversea%>' == "1" && wan6_cfg.ipv6_mode === "6to4") {
                // Tunnel 6to4 ipv6 form
                $('#ipv6select').val(5);
                $.pub('ipv6select', [{ index: '5' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('Tunnel 6to4');
                }, 200);

                //fillipv6form_tunnel_6to4(wan6_cfg, lan6_cfg);

            } else if ('<%=ipv6oversea%>' == "1" && wan6_cfg.ipv6_mode === "6rd") {
                // Tunnel 6rd ipv6 form
                $('#ipv6select').val(6);
                $.pub('ipv6select', [{ index: '6' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('Tunnel 6rd');
                }, 200);

                //fillipv6form_tunnel_6rd(wan6_cfg, lan6_cfg);

            } else if ('<%=ipv6oversea%>' == "1" && wan6_cfg.ipv6_mode === "6in4") {
                // Tunnel 6in4 ipv6 form
                $('#ipv6select').val(7);
                $.pub('ipv6select', [{ index: '7' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('Tunnel 6in4');
                }, 200);

                //fillipv6form_tunnel_6in4(wan6_cfg, lan6_cfg);
            } else if (wan6_cfg.ipv6_mode === "pi_relay") {
                if ('<%=ipv6_passthrough_relay%>' == "1") {
                    $('#ipv6select').val(4);
                    $.pub('ipv6select', [{ index: '4' }]);
                    setTimeout(function () {
                        $('.wan6set .dummy').html('Passthrough');
                    }, 200);
                } else {
                    $('#ipv6select').val(8);
                    $.pub('ipv6select', [{ index: '8' }]);
                    setTimeout(function () {
                        $('.wan6set .dummy').html('pi_relay');
                    }, 200);
                }
            } else {
                // native ipv6 form
                $('#ipv6select').val(0);
                $.pub('ipv6select', [{ index: '0' }]);
                setTimeout(function () {
                    $('.wan6set .dummy').html('<%:自动配置%>');
                }, 200);
                $('div[id=nativeApply]').removeClass('hidden');
            }

        } else {
            gIPv6isOn = false;
            $('input[name=mtu]').attr('minValue', 576);
            // ipv6 switch to off
            $('#ipv6switch').removeClass('btn-switch-on')
                .addClass('btn-switch-off')
                .attr('data-on', '0');
            $('.ipv6-off').show();
            $('.ipv6-on').hide();
            // // ipv6 form
            setto_ipv6_native_auto();
        }
    });

    //防火墙开关
    $.sub('getipv6firewall', function () {
        $.getJSON('<%=luci.dispatcher.build_url("api","xqnetwork","get_ipv6_firewall")%>')
            .done(function (rsp) {
                if (rsp.code == 1) {
                    $('#fhqswitch')
                        .removeClass('btn-switch-off')
                        .addClass('btn-switch-on')
                        .attr('data-on', '1');

                } else {
                    $('#fhqswitch')
                        .removeClass('btn-switch-on')
                        .addClass('btn-switch-off')
                        .attr('data-on', '0');
                }
            });
    })

    // ipv6 switch
    $.formInit();
    $.selectBeautify({ container: '#ipv6Set' });

    // when html of wanStatus changed, get wanType
    const targetNode = $('#wanStatus')[0];

    // Create a new observer instance
    function observe(mutationsList, observer) {
        // Iterate through the mutations
        for (var mutation=0;mutation<mutationsList.length;mutation++){
            if (mutationsList[mutation].type === 'childList') {
                var wanStatusHtml = targetNode.innerHTML;
                var wanType = wanStatusHtml.match(/<%:连接类型：%><\/span><span class="v">(.+?)<\/span>/)[1];
                if (wanType == 'PPPoE') {
                    isPPPoEMode = true;
                }
            }
        }
    };
    const observer = new MutationObserver(observe);
    // Configure the observer to watch for changes to the child nodes of the target element
    const config = { childList: true };

    // Start observing the target element for changes
    observer.observe(targetNode, config);

    $(document.body).delegate('#ipv6switch', 'click', function (e) {
        //hidden button
        $('#ipv6_set').find('form .btn-primary,form .btn-dft').addClass('hidden');
        $("#static-ipv6")[0].reset();
        $("#native")[0].reset();
        $("#dhcpv6")[0].reset();
        $("#pppoev6")[0].reset();
        $("#passthrough")[0].reset();
        e.preventDefault();
        var ipv6BtnStatus = $(this).attr('data-on') == 1 ? 0 : 1;
        setto_ipv6_native_auto();
        // PPPoE隐藏 passthrough 模式
        //if (isPPPoEMode) {
        //    $("#ipv6select option:contains('Passthrough')").remove();
        //}
        //else
        if ($("#ipv6select option:contains('Passthrough')").length == 0){
            $("#ipv6select").append('<option value="4">Passthrough</option>');
        }
        $.selectBeautify({ container: '#ipv6Set' });
        if (ipv6BtnStatus) {
            $('#ipv6switch').removeClass('btn-switch-off')
                .addClass('btn-switch-on')
                .attr('data-on', '1');
            $('.ipv6-off').hide();
            $('.ipv6-on').show();
            //show save button
            $('#ipv6_set').find('form .btn-primary,form .btn-dft').removeClass('hidden');
            //国际版缺失翻译暂时去掉
            if('<%=features["system"]["international"]%>' != "1"){
                if ($('input[name=mtu]').attr("value") < 1280) {
                    $.alert('<%:当前MTU小于1280，开启IPv6后将自动设置为1280%>');
                }
            }
        } else {
            $('#ipv6switch').removeClass('btn-switch-on')
                .addClass('btn-switch-off')
                .attr('data-on', '0');
            $('.ipv6-off').show();
            $('.ipv6-on').hide();
            if (gIPv6isOn) {//ipv6原先开着，才关闭
                gIPv6isOn = false;
                clearInterval(timeInterval);
                wait_ipv6();
                var requestData = {
                    ipv6_mode: 'off',
                    automode: 0,
                };
                $.ajax({
                    url: '<%=luci.dispatcher.build_url("api", "xqnetwork","set_wan6_v2")%>',
                    type: "POST",
                    data: requestData,
                    dataType: "json",
                    success: function (rsp) {
                        if (rsp.code === 0) {
                            setTimeout(function () {
                                dlgwait_ipv6.close();
                                $.alert('<%:关闭IPv6设置成功%>');
                                $('input[name=mtu]').attr('minValue', 576);
                                //$.pub('getwaninfo');
                                //$.pub('getipv6config');
                                $.pub('getipv6status');
                            }, 8000)
                        } else {
                            $.alert('<%:关闭IPv6设置失败%>');
                        }
                    },
                    error: function (e) {
                        dlgwait_ipv6.close();
                        $.alert('<%:关闭IPv6设置失败%>');
                    }
                });
            }
        }
    });

     $(document.body).delegate('#dhcpv6 #nat6switch', 'click', function (e) {
        e.preventDefault();
        var nat6BtnStatus = $(this).attr('data-on') == 1 ? 0 : 1;
        if (nat6BtnStatus) {
            $('#dhcpv6 #nat6switch').removeClass('btn-switch-off')
                    .addClass('btn-switch-on')
                    .attr('data-on', '1');

            if ('<%=ipv6oversea%>' == "1") {
                $('#dhcpv6 #nat6prefix').addClass('hidden');
            } else {
                $('#dhcpv6 #nat6prefix').removeClass('hidden');
                var wan6_cfg = gIPv6.wan6_cfg;
                var ip6prefix =  wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : '6868:6868::';
                if (ip6prefix === "fd00::") {
                    $('#dhcpv6 #fixedip6prefix').addClass('hidden');
                    ip6prefix = "::";
                } else {
                    $('#dhcpv6 #fixedip6prefix').removeClass('hidden');
                    ip6prefix = ip6prefix.substr(0, 5) === "fd00:" ? ip6prefix.substr(5) : '6868:6868::';
                }
                var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : 64;
                $('#dhcpv6 input[name=ip6prefix]').val(ip6prefix);
                $('#dhcpv6 input[name=ip6prefixlen]').val(ip6prefixlen);
            }
        } else {
            $('#dhcpv6 #nat6switch').removeClass('btn-switch-on')
                    .addClass('btn-switch-off')
                    .attr('data-on', '0');

            if ('<%=ipv6oversea%>' == "1") {
                $('#dhcpv6 #nat6prefix').removeClass('hidden');
                var wan6_cfg = gIPv6.wan6_cfg;
                var ip6prefix =  wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : 'fd00:6868:6868::';
                var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : 64;
                $('#dhcpv6 input[name=ip6prefix]').val(ip6prefix);
                $('#dhcpv6 input[name=ip6prefixlen]').val(ip6prefixlen);
            } else {
                $('#dhcpv6 #nat6prefix').addClass('hidden');
            }
        }
     });

    $(document.body).delegate('#pppoev6 #nat6switch', 'click', function (e) {
        e.preventDefault();
        var nat6BtnStatus = $(this).attr('data-on') == 1 ? 0 : 1;
        if (nat6BtnStatus) {
            $('#pppoev6 #nat6switch').removeClass('btn-switch-off')
                    .addClass('btn-switch-on')
                    .attr('data-on', '1');

            if ('<%=ipv6oversea%>' == "1") {
                $('#pppoev6 #nat6prefix').addClass('hidden');
            } else {
                $('#pppoev6 #nat6prefix').removeClass('hidden');
                var wan6_cfg = gIPv6.wan6_cfg;
                var ip6prefix = wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : '6868:6868::';
                if (ip6prefix === "fd00::") {
                    $('#pppoev6 #fixedip6prefix').addClass('hidden');
                    ip6prefix = "::";
                } else {
                    $('#pppoev6 #fixedip6prefix').removeClass('hidden');
                    ip6prefix = ip6prefix.substr(0, 5) === "fd00:" ? ip6prefix.substr(5) : '6868:6868::';
                }
                var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : 64;
                $('#pppoev6 input[name=ip6prefix]').val(ip6prefix);
                $('#pppoev6 input[name=ip6prefixlen]').val(ip6prefixlen);
            }
        } else {
            $('#pppoev6 #nat6switch').removeClass('btn-switch-on')
                    .addClass('btn-switch-off')
                    .attr('data-on', '0');

            if ('<%=ipv6oversea%>' == "1") {
                $('#pppoev6 #nat6prefix').removeClass('hidden');
                var wan6_cfg = gIPv6.wan6_cfg;
                var ip6prefix = wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : 'fd00:6868:6868::';
                var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : 64;
                $('#pppoev6 input[name=ip6prefix]').val(ip6prefix);
                $('#pppoev6 input[name=ip6prefixlen]').val(ip6prefixlen);
            } else {
                $('#pppoev6 #nat6prefix').addClass('hidden');
            }
        }
    });

    $(document.body).delegate('#6rd #nat6switch', 'click', function (e) {
        e.preventDefault();
        var nat6BtnStatus = $(this).attr('data-on') == 1 ? 0 : 1;
        if (nat6BtnStatus) {
            $('#6rd #nat6switch').removeClass('btn-switch-off')
                .addClass('btn-switch-on')
                .attr('data-on', '1');
            $('#6rd #nat6prefix').removeClass('hidden');

            var wan6_cfg = gIPv6.wan6_cfg;
            var ip6prefix = wan6_cfg.ip6prefix ? wan6_cfg.ip6prefix : '';
            var ip6prefixlen = wan6_cfg.ip6prefixlen ? wan6_cfg.ip6prefixlen : '';
            $('#6rd input[name=ip6prefix]').val(ip6prefix);
            $('#6rd input[name=ip6prefixlen]').val(ip6prefixlen);
        } else {
            $('#6rd #nat6switch').removeClass('btn-switch-on')
                .addClass('btn-switch-off')
                .attr('data-on', '0');
            $('#6rd #nat6prefix').addClass('hidden');
        }
    });

    $(document.body).delegate('#ipv4dialswitch', 'click', function (e) {
        e.preventDefault();
        var btnStatus = $(this).attr('data-on') == 1 ? 0 : 1;
        if (btnStatus) {
            $('#ipv4dialswitch').removeClass('btn-switch-off')
                .addClass('btn-switch-on')
                .attr('data-on', '1');
            $('#pppoev6 #ipv6dial').addClass('hidden');
        } else {
            $('#ipv4dialswitch').removeClass('btn-switch-on')
                .addClass('btn-switch-off')
                .attr('data-on', '0');

            $('#pppoev6 #ipv6dial').removeClass('hidden');
            var wan6_cfg = gIPv6.wan6_cfg;
            wan6_cfg.username = wan6_cfg.username ? wan6_cfg.username : '';
            wan6_cfg.password = wan6_cfg.password ? wan6_cfg.password : '';
            $('#pppoev6 input[name=ipv6DialAccount]').val(wan6_cfg.username);
            $('#pppoev6 input[name=ipv6DialPassword]').val(wan6_cfg.password);
        }
    });

    // ipv6 select
    $(document.body).delegate('#ipv6select', 'change', function (e) {
        e.preventDefault();
        var tar = this,
            $tar = $(tar),
            switchto = $tar.val();
        //alert(timer);
        //clearTimeout(timer);
        setTimeout(function () {
            $.pub('ipv6select', [{ index: switchto }]);
        }, 200);
    });

    $('#ipv6_on').delegate('input[type=text], input[type=radio], input[type=checkbox], a[id=nat6switch]', 'click', onControlFocus)
        .delegate('.ipt-text', 'click', function () {
            $(this).parents('#ipv6_set').find('form .btn-primary,form .btn-dft').removeClass('hidden');
        });

    function wait_ipv6() {
        dlgwait_ipv6 = $.loadingDialog({
            title: '<%:IPv6网络方式设置%>',
            content: '<%:IPv6网络方式设置中，请稍等...%>'
        }).lock();
    }

    function setlan6(lanReqData) {
        var requestData = lanReqData

        if (dlgwait_ipv6._isLock == false) {
            wait_ipv6()
        }

        $.ajax({
            url: '<%=luci.dispatcher.build_url("api", "xqnetwork","set_lan6_v2")%>',
            type: "POST",
            data: requestData,
            dataType: "json",
            success: function (rsp) {
                if (rsp.code === 0) {
                    setTimeout(function () {
                        dlgwait_ipv6.close();
                        $.alert('<%:设置成功%>');
                    }, 8000);
                    $.pub('getipv6config');
                } else {
                    dlgwait_ipv6.close();
                    $.alert(rsp.msg);
                }
            },
            error: function (e) {
                dlgwait_ipv6.close();
                $.alert('<%:设置失败%>');
            }
        });
    }
    function setnat6prefix (ip6prefix) {
        if ('<%=ipv6oversea%>' != "1") {
            if (ip6prefix == "" || ip6prefix == "::") {
                ip6prefix = 'fd00::';
            } else {
                ip6prefix = 'fd00:' + ip6prefix;
            }
        }
        return ip6prefix;
    }
    $('#static-ipv6,#native,#dhcpv6,#pppoev6,#passthrough,#6to4,#6rd,#6in4').on('submit', function (e) {
        e.preventDefault();

        var validator = Valid.checkAll(this);
        if (validator) {
            var requestData = $(this).serializeArray();
            console.log(requestData);
            var lan6mode = '';
            var ipv6_mode = $(this).find('input[name=ipv6_mode]').val();

            if ('native' != ipv6_mode) {
                $('div[id=nativeApply]').addClass('hidden');
                requestData.push({
                    name : 'automode',
                    value : 0
                });
            }

            if ('static' == ipv6_mode) {
                lan6mode = $('#static-ipv6 #lan6select').find('option:selected').val();
            } else if ('dhcpv6' == ipv6_mode) {
                var on = $('#dhcpv6 #nat6switch').attr('data-on');
                var nat6 = on == '1' ? 1 : 0;
                requestData.push({
                    name : 'nat6_enabled',
                    value : nat6
                });
                lan6mode = $('#dhcpv6 #lan6select').find('option:selected').val();

                if (1 == nat6) {
                    var prefix = $('#dhcpv6').find('input[name=ip6prefix]').val().trim().toLowerCase();
                    prefix = setnat6prefix(prefix);
                    var tmp = requestData.find(function (cur) {
                        return cur.name === 'ip6prefix'
                    });
                    tmp.value = prefix;
                }

            } else if ('pppoev6' == ipv6_mode) {
                var on1 = $('#pppoev6 #nat6switch').attr('data-on');
                var nat6 = on1 == '1' ? 1 : 0;
                requestData.push({
                    name : 'nat6_enabled',
                    value : nat6
                });
                var on2 = $('#pppoev6 #ipv4dialswitch').attr('data-on');
                var use_pppoev4 = on2 == '1' ? 1 : 0;
                requestData.push({
                    name : 'use_pppoev4',
                    value : use_pppoev4
                });
                lan6mode = $('#pppoev6 #lan6select').find('option:selected').val();

                if (1 == nat6) {
                    var prefix = $('#pppoev6').find('input[name=ip6prefix]').val().trim().toLowerCase();
                    prefix = setnat6prefix(prefix);
                    var tmp = requestData.find(function (cur) {
                        return cur.name === 'ip6prefix'
                    });
                    tmp.value = prefix;
                }
            } else if ('<%=ipv6_passthrough_relay%>' == "1" && 'passthrough' == ipv6_mode) {
                for (var i = 0; i < requestData.length; i++) {
                    if (requestData[i].name === "ipv6_mode") {
                        requestData[i].value = "pi_relay";
                        break;
                    }
                }
            }else if ('6rd' == ipv6_mode) {
                var on = $('#6rd #nat6switch').attr('data-on');
                var use_dhcp = on == '1' ? 1 : 0;
                requestData.push({
                    name : 'use_dhcp',
                    value : use_dhcp
                });
            }

            console.log(JSON.stringify(requestData));

            wait_ipv6();
            clearInterval(timeInterval);
            $.ajax({
                url: '<%=luci.dispatcher.build_url("api", "xqnetwork","set_wan6_v2")%>',
                type: "POST",
                data: requestData,
                dataType: "json",
                success: function (rsp) {
                    if (rsp.code === 0) {

                        // 开启ipv6，后端自动将mtu调整为>=1280，此处前端也做一次调整
                        // 不用wan_info请求数据，节省时间
                        if ($('input[name=mtu]').attr("value") < 1280) {
                            $('input[name=mtu]').attr("value", 1280);
                        }

                        var ip6prefixlen_value = requestData.find(function (cur) {
                                return cur.name === 'ip6prefixlen'
                            })
                        var ip6prefixlen = ip6prefixlen_value ? ip6prefixlen_value.value:64;

                        var lanReqData = {
                            mode: lan6mode === '' ? '0' : lan6mode,
                            ip6assign: ip6prefixlen && ip6prefixlen != '' ? ip6prefixlen : 64,
                        };

                        setlan6(lanReqData);
                        ipv6_status_roll();
                        $('#ipv6_set').find('form .btn-primary,form .btn-dft').addClass('hidden');
                    } else {
                        dlgwait_ipv6.close();
                        $.alert(rsp.msg);
                    }
                },
                error: function (e) {
                    dlgwait_ipv6.close();
                    $.alert('<%:设置失败%>');
                }
            });
        }
    })

    var timeInterval;
    // ipv6_status  interval
    function ipv6_status_roll() {
        timeInterval = setInterval(function () {
            $.pub('getipv6status');
        }, 3000)
    }

    // set ipv6 more option
    $('.setipv6more').on('click', function (e) {
        var tar = e.target,
            $tar = $(tar),
            isauto = $tar.val() === '0',
            $moreset = $tar.parents('.item-more').next('.item-more-group');
        if (isauto) {
            $tar.parents('.form').find('input[name="dns1"]').val('');
            $tar.parents('.form').find('input[name="dns2"]').val('');
            $moreset.find('input,select').prop('disabled', true);
            $moreset.find('.form-item').addClass('form-item-disabled');
            $.formInit();
        } else {
            var dns = gIPv6.wan6_cfg.dns ? gIPv6.wan6_cfg.dns : [null, null];
            //ipv6.dns_conf = ipv6.dns_conf ? ipv6.dns_conf : [null, null];
            $tar.parents('.form').find('input[name="dns1"]').val(dns[0]);
            $tar.parents('.form').find('input[name="dns2"]').val(dns[1]);
            $moreset.find('input,select').prop('disabled', false);
            $moreset.find('.form-item').removeClass('form-item-disabled');
            $.formInit();
        }
    });

    function onControlFocus() {
        $(this).parents('form').find('.btn-primary, .btn-dft').removeClass('hidden');
        // $("#static-ipv6,#native,#nat").find('.btn-primary, .btn-dft').removeClass('hidden');
    }

    $('#ipv6Set').delegate('input[type=text], input[type=radio], input[type=checkbox]', 'click', onControlFocus)
        .delegate('.ipt-text', 'click', onControlFocus);

    //设置防火墙
    $('#fhqswitch').on('click', function (e) {
        $.pub('loading:start');
        e.preventDefault();
        var fhqOn = $(this).attr('data-on') == 1 ? 0 : 1
        var self = this;
        var requestData = {
            mode: fhqOn
        };

        $.ajax({
            url: '<%=luci.dispatcher.build_url("api", "xqnetwork", "set_ipv6_firewall")%>',
            dataType: 'json',
            timeout: 5000,
            type: 'POST',
            data: requestData,
            success: function (rsp) {
                if (rsp.code === 0) {
                    setTimeout(function () {
                        $.pub('loading:stop');
                        if (fhqOn == 1) {
                            $(self)
                                .removeClass('btn-switch-off')
                                .addClass('btn-switch-on')
                                .attr('data-on', '1');
                        } else {
                            $(self)
                                .removeClass('btn-switch-on')
                                .addClass('btn-switch-off')
                                .attr('data-on', '0');
                        }
                    }, 1000)
                } else {
                    // if ( rsp.code !== 401) {
                    //     var msg = StringH.encode4Html( rsp.msg );
                    //     $.alert( msg ).lock();
                    // }
                }
            },
            error: function () {
                $.pub('loading:stop');
                $.alert('<%:网络异常，请检查是否联网%>');
            }
        });

    });

    $(function () {
            if ('<%=features["system"]["cpe"]%>' == "1" && '<%=features["system"]["multiwan"]%>' == "1" && '<%=policy%>' == "0") {
                $.pub('getipv6status');
            } else {
                $('#ipv6_set').show();
                $('#ipv6_firewall').show();
                $.pub('getipv6config');
                $.pub('getipv6status');
                $.pub('getipv6firewall');
                $.pub('addEvent');
                $.selectBeautify({ container: '#ipv6Set' });
            }
    });
</script>