<%
local features = require("xiaoqiang.XQFeatures").FEATURES
local multiwanEnable = require("xiaoqiang.util.XQPortServiceUtil").psMultiwanEnable()
%>
<%if multiwanEnable == 0 then%>
<div class="mod-set wanCheckWrap" style="display:none">
	<div class="hd">
	    <h3><%:WAN口选择%></h3>
	</div>
	<div class="bd">
	    <form action="#" class="form" id="wanCheckForm" style="display:none">
		<div class="form-item-select">
		    <label class="k"><%:模式%></label>
		    <span class="v">
			<select name="wancheckSelect" class="beautify" class="profiles"  id="wanCheck">
			    <option value="1"><%:固定WAN口%></option>
			    <option value="2"><%:智能选择WAN口（推荐）%></option>
				<%if features["system"]["dt_spec"] == "1" then%>
				<option value="3"><%:全LAN口%></option>
				<%end%>	
			</select>
		    </span>
		    
		</div>
		<%if features["system"]["cpe"] == "1" then%>
		<div class="form-item wanItem cpeWan">
		<%else%>
		<div class="form-item wanItem gerenalWan">
		<%end%>	
			<div class="selectWan">
			</div>
		</div>
		<div class="form-contral">
			<p class="form-message"><%:接入到运营商宽带的网线可以插在任意网口%></p>
                	<button type="submit" class="btn btn-primary hidden" id="btnSubmitwanCheck"><span><%:保存%></span></button>
                </div>
	    </form>
	</div>

</div>
<%end%>

<div class="mod-set lanCheckWrap" style="display:none">
	<div class="hd">
		<%if features["netmode"]["net2.5G"] == "1" then%>
		<div class="help" id="lanOpen">
			<span class="ico"></span>
			<span class="arrow-wrap" id="lanHelpArrow">
				<span class="arrow1"></span>
				<span class="arrow2"></span>
			</span>
		</div>
		<%end%>
		<h3><%:LAN口聚合%></h3>
		<div class="switch">
			<a href="#lagSwitch" id="lagSwitch" class="btn-switch btn-switch-off" data-on="0"></a>
		</div>
	</div>
	<div class="bd">
		<form action="#" class="form" id="lanCheckForm">
		<%if features["netmode"]["net2.5G"] == "1" then%>
		<div class="section lan-section-help" id="lanHelpSection">
			<div class="help-cont">
			    <span class="help-close" id="lanClose"></span>
			    
			    <div class="qa">
				<p>不同形态的网口不能聚合，比如1G网口不能和2.5G网口聚合</p>
			    </div>
			</div>
		</div>
		<%end%>
			<p><%:将两个LAN口聚合，实现网口速率叠加%></p>
			<div class="form-item lagItem" style="display: none">
				<div class="lagItemMsg">请选择需要聚合的两个LAN口</div>
				<div class="selectLan">
				</div>
			</div>
			<div class="form-contral">
				<button type="submit" class="btn btn-primary lanBtn" id="btnSubmitlanCheck" style="display:none"><span><%:保存%></span></button>
			</div>
		</form>
        </div>
	
	<!-- <div class="lanListDiv" data-service="{$lanList[i]['service']}" onclick="clickFunction('{$lanList[i]['service']}')"></div> -->
</div>
<script type="text/tmpl" id="lanList">
	{for(var i=0, len=$list.length; i<len; i++)}
	{if ($list[i]['service'] == 'LAN')}
	<div class="lanListDiv" data-service="{$list[i]['service']}" data-port="{$list[i]['port']}" data-speed="{$list[i]['speed']}">
	{else}
	<div class="lanListDiv disable" data-service="{$list[i]['service']}" data-port="{$list[i]['port']}" data-speed="{$list[i]['speed']}">
		{/if}
	<div class="service">{$list[i]['service']}</div>
	<div class="lanPortImg"></div>
	
	<div class="portsIndex">{$list[i]['label']}</div>
	</div>
	{/for}
    </script>
    <script type="text/tmpl" id="wanList">
	{for(var i=0, len=$list.length; i<len; i++)}
	{if ($list[i]['service'] == 'LAN')}
	<div class="wanListDiv" data-service="{$list[i]['service']}" data-port="{$list[i]['port']}" data-speed="{$list[i]['speed']}">
	{else}
	<div class="wanListDiv disable" data-service="{$list[i]['service']}" data-port="{$list[i]['port']}" data-speed="{$list[i]['speed']}">
	{/if}
	<%if features["system"]["cpe"] == "1" then%>
	<div class="wanListContent">
		<div class="wanPortImg"></div>
		<div class="service">{$list[i]['service']}</div>
	</div>
	<%else%>
	<div class="service">{$list[i]['service']}</div>
	<div class="wanPortImg"></div>
	<%end%>
	<div class="portsIndex">{$list[i]['label']}</div>
	</div>
	{/for}
    </script>
    
